<div class="pagina1-container">
    <h1>AGRADECIMIENTO</h1>
    
    <!-- Contenedor de párrafos -->
    <div class="justificado">
      <p class="efecto">Hola preciosa, en esta presentación bien básica,</p>
      <p class="efecto">primero quiero demostrarte mi cariño por ti,</p>
      <p class="efecto">tal vez no soy el más creativo como tú, pero lo estoy intentando,</p>
      <p class="efecto">espero te guste..</p>
    </div>
  
    <!-- Botón de regreso -->
    <div class="back-button-container">
      <button class="back-button" routerLink="/pagina2">
        <i class="bi bi-arrow-left"></i> <-
      </button>
    </div>
  </div>
  