<div class="pagina1-container">
    <h1>INTRODUCCIÓN</h1>
    
    <!-- Contenedor de párrafos -->
    <div class="justificado">
      <p class="efecto">Hello precious, in this very basic presentation,</p>
      <p class="efecto">first I want to show you my affection for you,</p>
      <p class="efecto">maybe I am not the most creative like you, but I am trying,</p>
      <p class="efecto">I hope you like it...</p>
    </div>
    
    <div class="back-button-container">
      <button class="back-button" routerLink="/pagina2">
        <i class="bi bi-arrow-left"></i> index
      </button>
      <button class="back-button" routerLink="/pagina4">
        <i class="bi bi-arrow-left"></i> next
      </button>
    </div>
    <footer>
      <p>&copy; 2025 Mi Amor</p>
    </footer>
  </div>
  