<div class="pagina1-container">
  <h1>INDEX</h1>

  <div class="clouds-container">
    <div class="cloud">
      <button class="btn-cloud" routerLink="/pagina3">1. Introduction.</button>
    </div>
    <div class="cloud">
      <button class="btn-cloud" routerLink="/pagina4">2. How I meet you?</button>
    </div>
    <div class="cloud">
      <button class="btn-cloud" routerLink="/pagina5">3. How I like you?</button>
    </div>
    <div class="cloud">
      <button class="btn-cloud" routerLink="/pagina6">4. Attractions</button>
    </div>
    <div class="cloud">
      <button class="btn-cloud" routerLink="/pagina7">5. Why you?</button>
    </div>
    <div class="cloud">
      <button class="btn-cloud" routerLink="/pagina8">6. Apologies</button>
    </div>
  </div>
<div class="back-button-container">
  <button class="back-button" routerLink="/pagina1">
    <i class="bi bi-arrow-left"></i> <-
  </button>
</div>
<footer>
  <p>&copy; 2025 Mi Amor</p>
</footer>
</div>
