<div class="pagina1-container">
  <h1>IS THIS THE END?</h1>

  <!-- Contenedor de párrafos -->
  <div class="justificado">
    <p>
      En esta parte te escribiré en español porque no sé cuantas faltas hay en
      el resto del texto, perdón quise hacerlo bien, tanto la presentación como
      lo nuestro pero no soy la mejor persona para esto, te amo y te amaré con
      todo mi corazón, pero no creo que estoy listo para amar bonito, lamento
      mucho haberte lastimado, lamento mucho haber hecho las cosas mal, por ti
      quise ser mejor, pero estoy lejos de ser mejor, esta es mi última carta de
      despedida después de esto solo tengo una cosa para decirte, eres libre y
      si algún día la vida nos vuelve a encontrar, espero estar listo para
      amarte de la forma en que no pude hacerlo y espero tu también estés lista
      para amar bonito, siempre estaré orgulloso de ti y de quien eres, NUNCA TE
      RINDAS, mientras yo viva, siempre tendrás a alguien que se alegre por tus
      logros y siempre se preocupe por ti a pesar de ya no estár presente en tu
      vida.
    </p>
    <p style="color: rgb(181, 117, 241);">
        TE AMO PAMELA ARACELI ENRIQUEZ DÁVILA, CUIDATE MUCHO 💚
    </p>
  </div>

  <div class="back-button-container">
    <button class="back-button" routerLink="/pagina2">
      <i class="bi bi-arrow-left"></i> index
    </button>
    <button class="back-button" routerLink="/pagina8">
      <i class="bi bi-arrow-left"></i> previuous
    </button>
    <button class="back-button" routerLink="/pagina10">
      <i class="bi bi-arrow-left"></i> next
    </button>
  </div>
</div>
