<div class="pagina1-container">
  <h1>ATTRACTIONS</h1>
  <div class="scroll-box">
    <h2>200 REASONS</h2>
    <ul>
      <li>1. Your beautiful eyes</li>
      <li>2. Your beautiful smile</li>
      <li>3. Your precious face</li>
      <li>4. Your perfect hair</li>
      <li>5. Your beautiful cheeks</li>
      <li>6. Your satisfying laugh</li>
      <li>7. God, your beautiful lips</li>
      <li>8. Your beautiful voice</li>
      <li>9. Your beauty</li>
      <li>10. Your beautiful arms, so perfect to hold me.</li>
      <li>
        11. Your small but perfectly sized waist, that I can grab and hug.
      </li>
      <li>
        12. Your legs that I know you don't like, but to me they are so
        beautiful and perfect, like they were made to your exact size.
      </li>
      <li>13. Your loyalty</li>
      <li>14. Your passion</li>
      <li>15. Your honesty</li>
      <li>16. Your energy</li>
      <li>17. Your creativity, even though you are sometimes dull.</li>
      <li>18. Your charisma</li>
      <li>19. Your humor</li>
      <li>20. Your way of being with me</li>
      <li>21. Your bad jokes</li>
      <li>22. Your good jokes</li>
      <li>23. Your sour jokes</li>
      <li>24. Your smart jokes</li>
      <li>25. Your knowledge</li>
      <li>26. Your intelligence</li>
      <li>27. Your way of speaking English</li>
      <li>28. Your bravery</li>
      <li>29. Your fears</li>
      <li>30. Your way of doing things</li>
      <li>31. Your violent flow style</li>
      <li>32. Your bossy girl charm</li>
      <li>33. Your negativism</li>
      <li>34. Your positivism</li>
      <li>35. Your neutrality</li>
      <li>36. Your not caring</li>
      <li>37. Your seriousness</li>
      <li>38. Your patience (so so)</li>
      <li>39. Your effort</li>
      <li>40. Your dedication</li>
      <li>
        41. Your obsession with cleanliness or well, at least cleanliness in you
        haha
      </li>
      <li>42. Your sweetness</li>
      <li>43. Your motivation to motivate me to always continue</li>
      <li>44. Your love for you Family</li>
      <li>45. Your presence</li>
      <li>46. Your consideration for the people you care about</li>
      <li>47. Your curiosity about the things that catch your attention</li>
      <li>48. Your appreciation for art</li>
      <li>49. Your pure and kind soul</li>
      <li>50. Your trust in the people you love..</li>
      <li>
        51. Your faith even if you are agnostic kcho, but your faith in things
        and people.
      </li>
      <li>52. How amazing you are</li>
      <li>53. How incredible you are</li>
      <li>54. How spectacular you are</li>
      <li>55. How witty you are (when it suits you)</li>
      <li>
        56. How boisterous you are (I’m not sure what it is, but I know you are)
      </li>
      <li>57. Your playful side</li>
      <li>58. Your hot side.. haha</li>
      <li>59. The beautiful moments together</li>
      <li>60. The happy moments together</li>
      <li>61. The sad moments together..</li>
      <li>62. The times we worked it out</li>
      <li>63. The times we talked about it to try to work it out..</li>
      <li>64. Your exquisite taste in music</li>
      <li>
        65. Your reliability (I think it’s synonymous with something I said
        above, but you are that too)
      </li>
      <li>
        66. Your understanding (when I explain things to you and you pay
        attention, not when you tell me: “shut up and kiss me”)
      </li>
      <li>67. Your dedication when you have a goal</li>
      <li>68. Your focus when you do things</li>
      <li>
        69. Your passion for what you love, like English, I see all the passion
        you put into doing something in English.
      </li>
      <li>
        70. Your compliments, when you tell me I'm beautiful, or when you tell
        me I'm smart and that you love that..
      </li>
      <li>71. Your respect for things and people</li>
      <li>
        72. Your charm (I think I already said it above, but it doesn't hurt to
        emphasize it)
      </li>
      <li>73. Your grace</li>
      <li>74. Your calmness when making certain decisions.</li>
      <li>
        75. Your restlessness to show how much you care about someone or
        something.
      </li>
      <li>76. Your love for your nieces.</li>
      <li>77. Your motherly love, but without wanting to be a mother</li>
      <li>
        78. Your love for the snotty children who stick to you and can see you
        from Monday to Friday.
      </li>
      <li>
        79. Your passion for your work, even though you sometimes tell me it's
        not what you want
      </li>
      <li>80. Your goals</li>
      <li>81. Your objectives to go far</li>
      <li>82. Your principles</li>
      <li>83. Your values</li>
      <li>84. Your attention to certain things .. or people 🙃</li>
      <li>
        85. Your beliefs, which is something I already said above, but I mean
        your beliefs in senses beyond religion.
      </li>
      <li>86. Your way of not judging people for not knowing them.</li>
      <li>87. The connection we have..</li>
      <li>88. The bond we have since we were children..</li>
      <li>89. Your shyness in certain things..</li>
      <li>90. Your curiosity, that is, for being a gossip kcho</li>
      <li>
        91. Your respect for yourself, maybe you still have a lot to polish in
        this, but you are doing it little by little.
      </li>
      <li>
        92. The growth you have had after all the obstacles that life put in
        your way.
      </li>
      <li>93. Your effort to achieve what you set out to do</li>
      <li>
        94. Your way of giving yourself a break when you need it, even if it's
        for many hours haha ​​but it's fair and necessary.
      </li>
      <li>
        95. Your lack of interest in certain things makes you look mysterious
      </li>
      <li>96. Your family that welcomed me like family...</li>
      <li>97. Your flaws</li>
      <li>98. Your virtues</li>
      <li>99. Your craziness when it hits you... haha</li>
      <li>
        100. Your maturity (50/50, you still have a lot to grow and consider)
        but for the rest, I love how mature you are.
      </li>
      <li>
        101. Your food, god, I love your food, I love it, I got so used to your
        food that I don't get hungry if I'm not with you or you don't cook for
        me 😔.
      </li>
      <li>102. Your big girl advice</li>
      <li>103. Your manners, sometimes, because sometimes you are spoiled</li>
      <li>104. That you are spoiled sometimes haha</li>
      <li>105. Your way of making me a better person</li>
      <li>106. Your way of reaching me, with the right words.</li>
      <li>107. Your charm 🥰</li>
      <li>
        108. Your responsibility (I think I already said something similar
        above) but your responsibility when you have to take care of your
        nieces, because you love them so much.
      </li>
      <li>
        109. Your chick heart that forgives even when it shouldn't forgive..
      </li>
      <li>110. Your way of making family gatherings entertaining.</li>
      <li>111. Your natural scent</li>
      <li>112. How delicious your perfumes smell</li>
      <li>113. Your affection towards me</li>
      <li>114. The way you show me love.</li>
      <li>115. Your courage to watch horror movies even if you are scared</li>
      <li>116. Your way of doing things for your partner when you love them</li>
      <li>
        117. Your own existence, please, your existence gives meaning to mine
      </li>
      <li>118. Your sweetness in touching me</li>
      <li>119. Your rudeness when you hit or pinched me</li>
      <li>120. Your cleverness</li>
      <li>121. Your good and kind soul</li>
      <li>122. The way you look at me and hypnotize me to kiss you</li>
      <li>123. Your way of making me feel safe</li>
      <li>
        124. The way you make me a better person by bringing out the best in me
      </li>
      <li>
        125. Your wisdom when you know something or have already been through
        something, and the way you say it.
      </li>
      <li>126. The little details you notice about me</li>
      <li>127. The details you don't pay attention to 🙃</li>
      <li>128. I'm proud of you and what you are</li>
      <li>
        129. The details you give me because you love me and think about me
      </li>
      <li>
        130. How energetic you are sometimes haha ​​even if it only lasts a
        while
      </li>
      <li>
        131. How talented you are at the things you like and care about a lot.
      </li>
      <li>132. God's gift to this cruel and merciless world</li>
      <li>133. You are my world</li>
      <li>134. You are my universe</li>
      <li>135. You are my galaxy</li>
      <li>136. You are my milky way</li>
      <li>137. You are my brightest star</li>
      <li>138. You are my person</li>
      <li>139. You are my everything</li>
      <li>140. You are everything I asked God for when I felt lost</li>
      <li>141. You are my light</li>
      <li>142. You are my hope</li>
      <li>143. You are my wisdom</li>
      <li>144. You are my love</li>
      <li>145. You are my life</li>
      <li>146. You are my soulmate</li>
      <li>147. You are my spirit</li>
      <li>
        148. The motivation you can generate in other people when you set your
        mind to it
      </li>
      <li>149. How outgoing you can be sometimes haha ​​all random</li>
      <li>
        150. Your excitement about the things you like or when you see something
        you like and it catches your attention
      </li>
      <li>151. The way when your beautiful eyes see me and incite me to sin</li>
      <li>152. Everything I have learned from you in this time together</li>
      <li>
        153. How special you are to me and your family, even if you don't see
        it, you are, they love you and they learned more from you than you can
        imagine.
      </li>
      <li>
        154. An angel fallen from heaven, who came to save my life from
        perdition
      </li>
      <li>155. How polite you are when you are in my house</li>
      <li>
        156. How adorable you look when you are embarrassed about something
      </li>
      <li>157. Your way of being yourself, you look so beautiful</li>
      <li>
        158. The dates we have together, even if we don't say they are dates,
        but the ones we have are incredible.
      </li>
      <li>159. Your actions</li>
      <li>160. You with long hair</li>
      <li>161. You with medium-short hair</li>
      <li>162. You as a girl</li>
      <li>163. You as a teenager</li>
      <li>164. You as a lady</li>
      <li>165. Your soft voice when you read me a story to put me to sleep</li>
      <li>
        166. Our chats until dawn talking about everything and nothing at the
        same time
      </li>
      <li>167. You sleeping haha, you look so sweet</li>
      <li>
        168. The hugs we give each other, god, that brings me back to life
      </li>
      <li>169. That you like to go out and adventure in new towns or places</li>
      <li>170. How important you make me feel.</li>
      <li>171. Your piercings, including the ones that have already closed</li>
      <li>
        172. Your way of playing with me when we are lying down hugging each
        other
      </li>
      <li>173. Your kisses while lying down</li>
      <li>174. Your hugs while lying down</li>
      <li>175. Your cuddles when we are together</li>
      <li>176. Your way of getting to know me little by little</li>
      <li>177. Your delicious cooking, your seasoning, your way of cooking.</li>
      <li>178. How you look when you cook, god, you make me fall in love.</li>
      <li>179. Your little-noticeable gestures.. haha</li>
      <li>180. Your achievements to date and those to come</li>
      <li>
        181. Your way of inspiring yourself when something attracts or motivates
        you
      </li>
      <li>
        182. Your way of loving me.. I didn't realize it before, but you loved
        me and I didn't value it..
      </li>
      <li>
        183. Your ego sometimes, in the way you stand up and then you get
        embarrassed
      </li>
      <li>184. Your company</li>
      <li>185. Your comfort</li>
      <li>
        186. Your way of worrying about me when something happens to me or I'm
        feeling bad
      </li>
      <li>
        187. You are and will be the best thing that has ever happened to me in
        life
      </li>
      <li>188. Your heart</li>
      <li>189. Your love</li>
      <li>190. Your value for the things you have</li>
      <li>191. Your way of loving people</li>
      <li>192. How much you love your family despite everything</li>
      <li>
        193. For trusting me and telling me things that you don't tell just
        anyone
      </li>
      <li>194. For finding solutions to problems that seem to have none.</li>
      <li>195. For seeing light and hope when everything is dark</li>
      <li>196. Your taste for Harry Potter</li>
      <li>197. Your taste for the music that I like</li>
      <li>198. Your taste for the incredible music that you like</li>
      <li>199. Your warmth when you are with me</li>
      <li>200. I love you for being you and nothing but you.</li>
      <li>
        201. And the bonus, I will love you even if my days are numbered, even
        if life wants to take me away from you, even if people want me far from
        you, I will love you and I will continue to love you until my heart
        stops beating.
      </li>
      <li>Reason for leaving</li>
      <li>
        1. I don't want to leave and I don't want to have reasons to do so.
      </li>
    </ul>
  </div>

  <div class="back-button-container">
    <button class="back-button" routerLink="/pagina2">
      <i class="bi bi-arrow-left"></i> index
    </button>
    <button class="back-button" routerLink="/pagina5">
      <i class="bi bi-arrow-left"></i> previuous
    </button>
    <button class="back-button" routerLink="/pagina7">
      <i class="bi bi-arrow-left"></i> next
    </button>
  </div>
</div>
