<div class="pagina1-container">
  <h1>HOW I LIKE YOU?</h1>
  <div class="container">
    <div class="box">
      <p class="p1">
        When we met for the first time as children, I felt the click... I didn't
        know it until then, but I knew that something in me belonged to you from
        then on, what I didn't know was that what belonged to you was my heart
        💚
      </p>
    </div>
    <div class="box">
      <p>
        But if you ask me why I like you now... I would say everything, and if
        you ask me what everything is, I would write 200 reasons to love you...
        wait... I already did that...! Before I didn't know who you were, I only
        knew you from what people told me about you, but then I met you and I
        learned to love you, with all that you are, and you know? you are
        amazing, you are the best person I've ever met..
      </p>
    </div>
  </div>
  <div class="back-button-container">
    <button class="back-button" routerLink="/pagina2">
      <i class="bi bi-arrow-left"></i> index
    </button>
    <button class="back-button" routerLink="/pagina4">
      <i class="bi bi-arrow-left"></i> previous
    </button>
    <button class="back-button" routerLink="/pagina6">
      <i class="bi bi-arrow-left"></i> next
    </button>
  </div>
  <footer>
    <p>&copy; 2025 Mi Amor</p>
  </footer>
</div>
