<div class="pagina1-container">
  <h1>HOW I MEET YOU?</h1>

  <!-- Contenedor de párrafos -->
  <div class="justificado">
    <p>
      I know I remember many things, but to be honest, I don't remember the day
      or the exact moment when we met, I only remember falling in love with you
      at first sight, I was a kid, I didn't know what it was like to like
      someone much less fall in love at first sight, but with you I will always
      be grateful to life and destiny for having put you in my way. ..
    </p>
    <p>
      Eventually, I lost track of you, but I knew you were still there, I would
      see you on the street, I wanted to say hello but you were not alone..,
      that's when I realized that life was telling me that I had already lost..
    </p>
  </div>

  <div class="back-button-container">
    <button class="back-button" routerLink="/pagina2">
      <i class="bi bi-arrow-left"></i> index
    </button>
    <button class="back-button" routerLink="/pagina3">
      <i class="bi bi-arrow-left"></i> previuous
    </button>
    <button class="back-button" routerLink="/pagina5">
      <i class="bi bi-arrow-left"></i> next
    </button>
  </div>
  <footer>
    <p>&copy; 2025 Mi Amor</p>
  </footer>
</div>
