<div class="pagina1-container">
  <h1>LO SIENTO PERO...</h1>

  <!-- Contenedor de párrafos -->
  <div class="justificado">
    <p>
      Lo único que te pedí fue que me amaras, que respetaras lo nuestro, que
      quisieras lo mismo, pero me equivoqué, porque no puedo obligarte a que me
      ames, no puedo obligarte a que respetaras algo que solo yo creí que
      teniamos, no puedo obligarte a que quisieras lo que yo quería.
    </p>
    <p>
      Decidiste cambiar lo que teniamos por un momento con alguien que no lo
      vale, PERDÓN POR NO SER SUFICIENTE, PERO SOBRE TODO, POR NO SER NADIE.
    </p>
    <p style="color: rgb(0, 255, 13)">
      Lo unico que te pedí era que no lo arruinaras..
    </p>
  </div>

  <div class="back-button-container">
    <button class="back-button" routerLink="/pagina2">
      <i class="bi bi-arrow-left"></i> index
    </button>
    <button class="back-button" routerLink="/pagina9">
      <i class="bi bi-arrow-left"></i> previuous
    </button>
    <button class="back-button" routerLink="/pagina11">
      <i class="bi bi-arrow-left"></i> END?
    </button>
  </div>
  <footer>
    <p>&copy; 2025 Mi Amor</p>
  </footer>
</div>
