<div class="pagina1-container">
  <h1>WHY YOU?</h1>
  <div class="cuadros-container">
    <div class="text-box">
      <p>
        Because you taught me what it was to feel loved, because you helped me
        to be better, because at the time you chose me and really wanted to try
        and that is something I will always be grateful for.
      </p>
    </div>
    <div class="text-box">
      <p>
        Because when I see your eyes, I see love, all the love I always looked
        for, they see your soul, so pure and beautiful, but so battered by false
        loves, I will always be proud of who you are and who you will become.
      </p>
    </div>
  </div>

  <div class="back-button-container">
    <button class="back-button" routerLink="/pagina2">
      <i class="bi bi-arrow-left"></i> index
    </button>
    <button class="back-button" routerLink="/pagina6">
      <i class="bi bi-arrow-left"></i> previous
    </button>
    <button class="back-button" routerLink="/pagina8">
      <i class="bi bi-arrow-left"></i> next
    </button>
  </div>
  <footer>
    <p>&copy; 2025 Mi Amor</p>
  </footer>
</div>
