<div class="pagina1-container">
  <h1>¿NO?</h1>

  <!-- Contenedor de párrafos -->
  <div class="text-box">
    <p>Si estas leyendo esto, hay dos opciones.</p>
    <p style="color: rgb(233, 56, 56);">
      1) fue lo primero que aplastaste 
    </p>
    <p>o</p>
    <p style="color: rgb(78, 6, 194);">
        2) tenias curiosidad de ver que pasaba
    </p>
    <p>
      Mi intención con el botón "NO" era que no pudieras ver la presentación de
      nuevo, pero si este va a ser nuestro último recuerdo, quiero que la
      repitas todas las veces que quieras.
    </p>
    <p style="color: #a30e0e;">Psdt: Te extraño mucho, pero esta vez no iré a buscarte..cuidate mucho</p>
  </div>

  <div class="back-button-container">
    <button class="back-button" routerLink="/">
      <i class="bi bi-arrow-left"></i> ¿OTRA OPORTUNIDAD?
    </button>
  </div>
  <footer>
    <p>&copy; 2025 Mi Amor</p>
  </footer>
</div>
