<div class="pagina1-container">
  <h1>APOLOGIES</h1>

  <!-- Contenedor de párrafos -->
  <div class="justificado">
    <p>
      First I want to apologize for being me, I know how hard I am to love or
      even understand, I want to apologize for all the hurt I did to you,
      apologize for not being enough, apologize for being nobody, I know how
      much you love love and I wanted to be the one to show you how beautiful it
      can be, but I'm not perfect, I failed and I hurt you, I'm so sorry.
    </p>

    <p style="color: rgb(231, 18, 18);">
      I just hope you never forget that all the I love you's I told you, were
      real.
    </p>
  </div>

  <div class="back-button-container">
    <button class="back-button" routerLink="/pagina2">
      <i class="bi bi-arrow-left"></i> index
    </button>
    <button class="back-button" routerLink="/pagina7">
      <i class="bi bi-arrow-left"></i> previuous
    </button>
    <button class="back-button" routerLink="/pagina9">
      <i class="bi bi-arrow-left"></i> next
    </button>
  </div>
  <footer>
    <p>&copy; 2025 Mi Amor</p>
  </footer>
</div>
