<div class="pagina1-container">
    <h1>OUR PHOTOS</h1>
  
    <!-- Collage de fotos -->
    <div class="collage-container">
      <img src="../../../../public/p1.jpg" alt="P1">
      <img src="../../../../public/p2.jpg" alt="P2">
      <img src="../../../../public/p3.jpg" alt="P3">
      <img src="../../../../public/p4.jpg" alt="P4">
      <img src="../../../../public/p5.jpg" alt="P5">
      <img src="../../../../public/p6.jpg" alt="P6">
      <img src="../../../../public/p7.jpg" alt="P7">
      <img src="../../../../public/p8.jpg" alt="P8">
      <img src="../../../../public/p9.jpg" alt="P9">
      <img src="../../../../public/p10.jpg" alt="P10">
    </div>
  
    <!-- Botón de regreso -->
    <div class="back-button-container">
      <button class="back-button" routerLink="/index">
        <i class="bi bi-arrow-left"></i> FIN
      </button>
    </div>
  </div>