<div class="pagina1-container">
  <h1>OUR PHOTOS</h1>

  <!-- Collage de fotos -->
  <div class="collage-container">
    <img src="../../../assets/p1.png" alt="P1" />
    <img src="../../../../assets/p4.png" alt="P2" />
    <img src="../../../../assets/p3.png" alt="P3" />
    <img src="../../../../assets/p4.png" alt="P4" />
    <img src="../../../../assets/p5.png" alt="P5" />
    <img src="../../../../assets/p6.png" alt="P6" />
    <img src="../../../../assets/p7.png" alt="P7" />
    <img src="../../../../assets/p8.png" alt="P8" />
    <img src="../../../../assets/p9.png" alt="P9" />
    <img src="../../../../assets/p10.png" alt="P10" />
    <img src="../../../../assets/p11.png" alt="P11" />
    <img src="../../../../assets/p12.png" alt="P12" />
  </div>

  <div class="back-button-container">
    <button class="back-button" routerLink="/">
      <i class="bi bi-arrow-left"></i> FIN
    </button>
  </div>
  <footer>
    <p>&copy; 2025 Mi Amor</p>
  </footer>
</div>
